
body {
  font-family: Montserrat, serif;
  background-color: #181719;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  color: white;
  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/**
 * Header styles
 */

header {
  display: flex;
  margin-top: 3%;
  margin-bottom: 8%;
  align-items: center;
}

/* Logo */

a {
  text-decoration: none;
  color: white;
}

div#logo {
  font-family: serif;
  border: 2px solid white;
  width: fit-content;
  font-size: 0.875rem;
  padding: 0.5em;
}

main {
  display: flex;
}

section {
  padding: 25px;
}

section > * {
  margin-bottom: 5%;
}

h1 {
  font-family: Lora, serif;
  font-size: max(3.4vw, 25px);
}

section > p {
  font-size: clamp(0.875rem, 0.94vw + 0.61rem, 1.5rem);
  margin-top: 2em;
  margin-bottom: 1.5em;
}

#read-more {
  font-size: clamp(0.875rem, 0.94vw + 0.61rem, 1.5rem);
  font-weight: 600;
}

ul#primary-navigation {
  display: flex;
  font-weight: 600;
  font-size: 1.125rem;
  /* grid-column-gap: 6vw; */
  list-style: none;
}

#primary-navigation a {
  text-decoration: none;
  color: white;
}

#primary-navigation a:hover {
  border-bottom: 3px solid white;
}

#primary-navigation a.active {
  border-bottom: 2px solid white;
}

#room {
  width: 100%;
  fit-content: cover;
}

#showcase {
  position: relative;
}


#designer-card {
  background-color: #121113;
  /* aspect-ratio: 10 / 1; */
  padding: 5% 5% 3% 5%;
  position: absolute;
  right: clamp(4px, calc(3% + 2vw), 35px);
  width: clamp(300px, calc(50% + 1rem), 410px);
  height: clamp(138px, calc(30% + 1rem), 189px);
  bottom: clamp(-110px, calc(-20% - 2vmax), -80px);
}

#designer-card > img {
  margin-right: 2%;
}

#designer-name {
  font-size: 1.1em;
  margin-left: 6%;
  margin-top: 3%;
}

#designer-role {
  font-size: 0.85em;
}

#designer-image {
  float: left;
  margin-right: 8%;
  width: max(20%, 50px);
  clip-path: circle(45%);
}

#designer-card > p {
  font-family: serif;
  font-size: 130%;
  margin-top: 10%;
  margin-bottom: 2vh;
  margin-left: 1em;
  margin-right: 1em;
  clear: left;
}

footer {
  text-align: center;
  margin-top: 12vmax;
  margin-bottom: 3%;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/**
 *
 **/

/**
 * Mobile first
 */

@media (max-width: 45em) {
  /**
   * Vertical nav bar
   */
  #primary-navigation {
    margin-top: 0;
    position: fixed;
    background: hsl(0 0% 0% / 0.5);
    /* background-color: black; */
    /* height: 100vh; */
    text-align: center;
    flex-direction: column;
    z-index: 1000;
    gap: 12%;
    padding: min(20vh, 10rem) 2em;
    inset: 0 0 0 30%;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  @supports (backdrop-filter: blur(1rem)) {
    ul#primary-navigation {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
  }

  ul#primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  /**
   * Toggle nav bar button
   */
  #mobile-nav-toggle {
    /* border: 1px solid red; */
    position: absolute;
    cursor: pointer;
    width: 2.5rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 2rem;
    z-index: 9999;

    border-style: none;
    padding: 0 0%;
    background-color: #181719;
    display: flex;
    gap: 15%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #mobile-nav-toggle[aria-expanded="true"] > * {
    position: absolute;
    transition: all 350ms ease-in; 
  }

  #mobile-nav-toggle[aria-expanded="true"] div:nth-child(1) {
    transform: translateY(-20%) rotate(-45deg);
  }

  #mobile-nav-toggle[aria-expanded="true"] div:nth-child(2) {
    width: 0;
  }

  #mobile-nav-toggle[aria-expanded="true"] div:nth-child(3) {
    transform: translateY(20%) rotate(45deg);
  }

  /**
   * Hamburger icon stripes for toggler
   */
  #mobile-nav-toggle > div {
    padding: 0;
    background-color: white;
    height: 8%;
    width: 100%;
  }

}

main {
  flex-direction: column;
}


/**
 * Desktop
 */

@media (min-width: 45em) {
  /**
   * Header styles
   */
  
  header {
    justify-content: space-between;
  }

  body {
    width: 90%;
  }

  #mobile-nav-toggle {
    display: none;
  }

  #primary-navigation {
    gap: 6vw;
    margin: 0;
    padding-block: 2rem;
    padding-inline: clamp(3rem, 5vw, 10rem);
  }

  main {
    gap: 8rem;
    align-content: stretch;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  main > div > div {
    position: relative;
    width: 35%;
  
  }

  main > section:first-child {
    margin-bottom: 4%;
    padding: 0;
    width: max(45%, 340px);
  }
  
  #showcase {
    width: 70%;
    padding: 0;
  }

}


